/* ABOUT */

/* @media (max-width: 960px) {
    
    #slider .d-flex.align-items-center{
        display: block;
         
    }

    #slider .col-lg-5 .rounded-circle.mx-auto.d-block{
        margin-bottom: 40px;
        
    }
   
    #slider .col-lg-6 .text-dark{
       text-align: center;
       
   }
   #slider .col-lg-6 .text-secondary{
       text-align: justify;
   }
   #address .text-dark{
       text-align: center;
   }

} */
 